@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@mixin scrollbar() {
  *::-webkit-scrollbar {
    width: 8px;
    scroll-behavior: smooth;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3c3c3c;
    border-radius: 8px;
  }

  *::-webkit-scrollbar-track {
    background-color: #2c2c2b;
  }
}

.min-w-screen {
  min-width: 100vw;
}
